<div class="container ">

    <table class="login-div">
        <tr>
            <td>
                <p class="font-weight-light">Login</p>
            </td>
            <td><input class="form-control" type="text" ng-model="login"></td>
        </tr>
        <tr>
            <td>
                <p class="font-weight-light">Password</p>
            </td>
            <td><input class="form-control" type="password" ng-model="passwd"></td>
        </tr>
        <tr>
            <td colspan="2"><button class="btn btn-primary btn-md btn-block font-weight-light" ng-click="Login()">Login</button></td>
        </tr>
    </table>

</div>