<div class="container contentConteiner">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Find sample..." aria-label="Find sample" ng-model="findName">

    </div>
    <table class="table tables table-hover">
        <thead class="thead-light">
            <tr>
                <th>Sample name</th>
                <th>USCS type</th>
                <th>Coefficient of uniformity</th>
                <th>Coefficient of curvature</th>
                <th>Fines amount [%]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="datum in data|filter:findName">
                <td><span ng-hide="isHidden==$index">
                        {{datum.name}}
                        </span>
                    <input class="form-control" type="text" ng-model="datum.name" ng-hide="!(isHidden==$index)">
                </td>
                <td>
                    {{datum.uscs}}
                </td>
                <td>
                    {{datum.Cu}}
                </td>
                <td>
                    {{datum.Cc}}
                </td>
                <td>
                    {{datum.Fines}}
                </td>
                <td>
                    <button ng-click="showItem($index)" class="btn btn-primary btn-add">Show</button>
                    <button ng-click="editItem($index)" class="btn btn-primary btn-add">Edit</button>
                    <button ng-click="deleteItem($index)" class="btn btn-primary btn-add">Delete</button>
                </td>
            </tr>

        </tbody>

    </table>
    <button ng-click="addItem()" class="btn btn-primary btn-lg btn-block btn-add">Add</button>

</div>