<div class="container contentConteiner">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Sample name..." aria-label="Sample name" aria-describedby="nameButton">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="nameButton">Save sample</button>
        </div>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Size [mm]</th>
                <th>Amount [%]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="datum in data">
                <td><span ng-hide="isHidden==$index">
                        {{datum.x}}
                        </span>
                    <input class="form-control" type="number" ng-model="datum.x" ng-hide="!(isHidden==$index)" ng-pattern="/^[0-9]+(\.[0-9]{1,5})?$/" step="0.001" required>
                </td>
                <td><span ng-hide="isHidden==$index">
                        {{datum.y}}
                        </span>
                    <input class="form-control" type="number" ng-model="datum.y" ng-hide="!(isHidden==$index)" ng-pattern="/^[0-9]+(\.[0-9]{1,5})?$/" step="0.001" required>
                </td>
                <td>
                    <button ng-click="editItem($index)" ng-disabled="!datum.y||!datum.x" class="btn btn-primary">Edit</button>


                    <button ng-click="deleteItem($index)" class="btn btn-primary">Delete</button>
                </td>
            </tr>
            <tr>

                <td><input type="number" class="form-control" name="inSize" ng-model="inputSize" ng-pattern="/^[0-9]+(\.[0-9]{1,5})?$/" step="0.001" required></td>
                <td><input type="number" class="form-control" name="inAmount" ng-model="inputAmount" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.001" required></td>
                <td><button ng-click="addItem()" ng-disabled="!inputSize||!inputAmount" class="btn btn-primary">Add</button></td>


            </tr>
        </tbody>
    </table>
    <canvas id="Chart"></canvas>



</div>