<div class="container contentConteiner">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Find sample..." aria-label="Find sample" ng-model="findName">

    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Sample name</th>
                <th>Coefficient of uniformity</th>
                <th>Coefficient of curvature</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="datum in data|filter:findName">
                <td><span ng-hide="isHidden==$index">
                        {{datum.name}}
                        </span>
                    <input class="form-control" type="text" ng-model="datum.name" ng-hide="!(isHidden==$index)">
                </td>
                <td><span ng-hide="isHidden==$index">
                        {{datum.Cu}}
                        </span>
                    <input class="form-control" type="number" ng-model="datum.Cu" ng-hide="!(isHidden==$index)">
                </td>
                <td><span ng-hide="isHidden==$index">
                        {{datum.Cc}}
                        </span>
                    <input class="form-control" type="number" ng-model="datum.Cc" ng-hide="!(isHidden==$index)">
                </td>
                <td>
                    <button ng-click="showItem($index)" class="btn btn-primary">Show</button>
                    <button ng-click="editItem($index)" class="btn btn-primary">Edit</button>
                    <button ng-click="deleteItem($index)" class="btn btn-primary">Delete</button>
                </td>
            </tr>

        </tbody>

    </table>
    <button ng-click="addItem()" class="btn btn-primary btn-lg btn-block">Add</button>
</div>